<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h2>Edit Listing</h2>

    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <label for="title">Enter Title : </label>
        <input type="text" id="title" value="<%= listing.title %>" name="listing[title]">
        <br><br>
        <label for="desc">Enter Description : </label>
        <textarea  id="desc" name="listing[description]"><%= listing.description %>"</textarea>
        <br><br>
        <label for="image">Enter Image URL/Link : </label>
        <input type="text" id="image" value="<%= listing.image %>" name="listing[image]">
        <br><br>
        <label for="price">Enter Price : </label>
        <input type="number" id="price" value="<%= listing.price %>" name="listing[price]">
        <br><br>
        <label for="location">Enter Location : </label>
        <input type="text" id="location" value="<%= listing.location %>" name="listing[location]">
        <br><br>
        <label for="country">Enter Country : </label>
        <input type="text" id="country" value="<%= listing.country %>" name="listing[country]">
        <br><br>
        <button>Edit</button>
    </form>
</body>
</html>